* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}
section.darkness {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #101013;
    overflow: hidden;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1400px 100px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.1;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.1;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.1;
    animation-delay: -2s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1400px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1400px;
    }
}

.line {
    position: absolute;
    background: rgba(100, 100, 100, 0.1);
}

.vertical {
    height: 100%;
    width: 1px;
}

.onethird-l {
    left: 33%;
}

.firstquarter-l {
    left: 25%;
    visibility: hidden;
}

.thirdquarter-l {
    left: 75%;
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .firstquarter-l {
        visibility: visible;
    }

    .thirdquarter-l {
        visibility: visible;
    }
}

.center-l {
    left: 50%;
}

.twothird-l {
    left: 66%;
}

.tenth-l {
    left: 10%;
}

.twothird-t {
    top: 66%;
}

.twentytwo-t {
    top: 10%;
}
.seventy-t {
    top: 78%;
}
.horizontal {
    width: 100%;
    height: 1px;
}

.navbar {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 5px 10px;
}

@media screen and (min-width: 1024px) {
    .navbar {
        padding: 32px;
    }
}

.navbar-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.link-container {
    width: 69%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    max-width: 300px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar a,
.navbar a:visited {
    text-decoration: none;
    color: white;
}

.logo-container {
}

.logo {
    width: 50px;
}

.always-show {
    z-index: 99999;
}

.header {
    position: relative;
}

.heading-primary {
    font-size: 28px;
    font-weight: 900;
    font-family: 'Merriweather', serif;

    color: #fff;
    margin-bottom: 10px;
}

.tagline {
    line-height: 1.8;
    color: rgba(142, 142, 144, 1);
    font-family: 'Lora', serif;
    font-size: 16px;
}

.heading-container {
    position: absolute;
    margin-top: 90px;
    z-index: 99999;
    padding: 20px 20px 20px 20px;
    width: 100%;
    max-width: 1280px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    max-width: 410px;
}

@media screen and (min-height: 700px) {
    .heading-container {
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 768px) {
    .heading-container {
        padding-bottom: 100px;
        max-width: 575px;
    }

    .heading-primary {
        font-size: 42px;
    }

    .tagline {
        font-size: 20px;
    }
}

.icons-container {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.icons-container .separator {
    width: 15%;
    height: 2px;
    margin-right: 25px;
    border-radius: 3px;
    background: rgba(55, 55, 55, 0.6);
}

.icons-container a {
    margin-right: 25px;
}

.github {
    width: 26px;
}

.linkedin {
    width: 20px;
}

.mail {
    width: 26px;
}